
.OrderHeader{
    text-align: center;
    font-size:2rem;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
}
.orderSummaryHeader{
    font-size:2rem;
}
.price{
    margin-left: 35px;
}
.paymentHeader{
    font-size:2rem;
}
.paymentComps{
    font-size:20px;
    margin-top: 5px;
}
.SubmitOrder{
    margin-top: 10px;
}
.centered1 {

    position: absolute;
  
    top: 50%;
  
    left: 50%;
  
    transform: translate(-50%, -50%);
  
  }

  .img{
    opacity: 0.5;
  }
  
  .container1 {
  
    position: relative;
  
    text-align: center;
  
    color: rgb(126, 82, 228);
    font-size: 3rem;
  
  }
