.grid {

    display: grid;

    gap: 1px;

    grid-template-columns: repeat(3, 1fr);

  }

 

 

.grid-container{

    display: grid;

  grid-template-columns: repeat(3, 1fr);

  padding: 10px;

}

  .grid-item{

  padding: 20px;

  font-size: 30px;

  text-align: center;

  }